main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.areaFiltros {
  background-color: red;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow: 0 0 10px 0 #000;
}

.areaFiltros input[type=text]{
  width: 30%;
  line-height: 1.5rem;
  padding-left: 10px;
  border: 1px solid #000;
  border-radius: 2px;
}

.areaFiltros select {
  border: 1px solid #000;
  border-radius: 2px;
}

.areaFiltros select:focus
, .areaFiltros input[type=text]:focus{
  outline: 0;
}

.containerPokemon {
  width: 70%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 5px 10px 0 #000;
}

@media (max-width: 414px) {
  #selec {
    display: none;
  }

  #text {
    background-color: #fff;
    width: 100%
  }

}

